<p style="color: green"><%= notice %></p>

<% content_for :title, "Pokemon" %>
<%= link_to "RESET", pokemons_path, class: "font-bold" %>
<div class="flex flex-row">
      <div class="border-solid border-2 rounded-lg p-2 m-2 grid gap-y-2">
      <p class="text-2xl font-bold">Habitats:</p>
      <% Habitat.all.each do |habitat| %>
      <% count = @pokemons.filter{|p| p.habitat == habitat}.count %>
        <div class="flex gap-x-2">
          <%= link_to "#{habitat.name} (#{count})",
          pokemons_path(filter: add_value_to_filter(@decoded, "hab", habitat.name)),
          data: { turbo_stream: true} %>
        </div>
      <% end %>
    </div>
  <div>
    <div class="font-bold flex space-x-2">
      <% @decoded.each do |key, val| %>
        <% unless val.blank? %>  
          <div class="border-solid border-2 rounded-lg p-2 m-2">    
            <p class="text-2xl font-bold"><%= key.capitalize %></p>
            <% case val %>
            <% when String %>
              <%= render partial: "remove_from_fitler_link", locals: {filter: @decoded, key: key, value: val} %>
            <% when Array %>
              <% val.each do |value| %>
                <%= render partial: "remove_from_fitler_link", locals: {filter: @decoded, key: key, value: value} %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<table class="border-collapse border-solid border-2 rounded-lg w-full">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th class="border-solid border-2">Ideal Habitat</th>
      <th class="border-solid border-2">Speciality</th>
      <th class="border-solid border-2">Favorites</th>
    </tr>
  </thead>
  <tbody>
    <% @pokemons.each do |pokemon| %>
      <tr class="border-solid border-2">
        <td>
          <div class="text-center font-bold">
            <%= link_to pokemon.name, url_for(pokemon) %>
          </div>
        </td>
        <td>
          <%= link_to url_for(pokemon) do %>
            <%= image_tag pokemon.full_picture_url%>
          <% end %>
        </td>
        <td class="border-solid border-2">
            <%= link_to pokemon.habitat.name,
            pokemons_path(filter: add_value_to_filter(@decoded, "hab", pokemon.habitat.name)),
            data: { turbo_stream: true} %>
        </td>
        <td class="border-solid border-2">
          <% pokemon.specialities.each do |spec| %>
            <%= link_to spec.name,
            pokemons_path(filter: add_value_to_filter(@decoded, "spec", spec.name)),
            data: { turbo_stream: true} %>
            <br>
          <% end %>
        </td>
        <td class="border-solid border-2">
          <% pokemon.favorites.each do |fav| %>
            <%= link_to fav.name,
            pokemons_path(filter: add_value_to_filter(@decoded, "fav", fav.name)),
            data: { turbo_stream: true} %>
            <br/>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

